hr{
  width: 100%;
}

.invisible{
  visibility: hidden;
}

hr.ct{
  width: 95%;
  height: 5px;
  background-color: orange;
}

hr.ter{
  width: 95%;
  height: 5px;
  background-color: deepskyblue;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
