<table mat-table [dataSource]="matches" class="mat-elevation-z8">

  <ng-container matColumnDef="map">
    <th mat-header-cell *matHeaderCellDef>Map</th>
    <td mat-cell *matCellDef="let match"> {{match.map}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created at</th>
    <td mat-cell *matCellDef="let match"> {{formatDate(match.createdAt) | date:'short'}}</td>
  </ng-container>

  <ng-container matColumnDef="minutesAgo">
    <th mat-header-cell *matHeaderCellDef>Play time</th>
    <td mat-cell *matCellDef="let match"> {{round(match.playTime)}}</td>
  </ng-container>

<!--  <ng-container matColumnDef="rank">-->
<!--    <th mat-header-cell *matHeaderCellDef>Rank</th>-->
<!--    <td mat-cell *matCellDef="let match"> {{computeRank(match)}} </td>-->
<!--  </ng-container>-->
  <ng-container matColumnDef="Team1">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let match">
      <app-gravatar-team [nicknames]="false" [team]="match.Teams[0]" size="30px"></app-gravatar-team>
    </td>
  </ng-container>

  <ng-container matColumnDef="Teams1.score">
    <th mat-header-cell *matHeaderCellDef> CT</th>
    <td mat-cell *matCellDef="let match">
      <div *ngIf="match.Teams[0].score > match.Teams[1].score">
        <div class="winner"><p> {{match.Teams[0].score}}</p></div>
      </div>
      <div *ngIf="match.Teams[0].score < match.Teams[1].score">
        <div class="looser"><p> {{match.Teams[0].score}} </p></div>
      </div>
      <div *ngIf="match.Teams[0].score == match.Teams[1].score">
        <div class="same"><p> {{match.Teams[0].score}} </p></div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Teams2.score">
    <th mat-header-cell *matHeaderCellDef> Terrorist</th>
    <td mat-cell *matCellDef="let match">
      <div *ngIf="match.Teams[0].score < match.Teams[1].score">
        <div class="winner"><p> {{match.Teams[1].score}}</p></div>
      </div>
      <div *ngIf="match.Teams[0].score > match.Teams[1].score">
        <div class="looser"><p> {{match.Teams[1].score}} </p></div>
      </div>
      <div *ngIf="match.Teams[0].score == match.Teams[1].score">
        <div class="same"><p> {{match.Teams[1].score}} </p></div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Team2">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let match">
      <app-gravatar-team [nicknames]="false" [team]="match.Teams[1]" size="30px"></app-gravatar-team>
    </td>
  </ng-container>

  <ng-container matColumnDef="k">
    <th mat-header-cell *matHeaderCellDef>K</th>
    <td mat-cell *matCellDef="let match">
      {{computeKills(match)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="d">
    <th mat-header-cell *matHeaderCellDef>D</th>
    <td mat-cell *matCellDef="let match">
      {{computeDeaths(match)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="a">
    <th mat-header-cell *matHeaderCellDef>A</th>
    <td mat-cell *matCellDef="let match">
      {{computeAssists(match)}}
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./{{row.id}}">
  </tr>
</table>
