<div [ngStyle]="{
  'border-radius': '50%',
  'width': size,
  'height': size,
  'display': 'flex',
  'justify-content': 'center',
  'align-items': 'center',
  'margin': marginSize,
  'background-image': 'url('+image+')',
  'background-position': 'center',
  'background-size': size + ' ' +size}">

  <div *ngIf="!nicknames" [ngStyle]="{'font-size': getFontSize(),
                    'color': '#FFFFFF',
                    'line-height': '19px'}">
    {{ initials }}
  </div>
</div>

<div *ngIf="nicknames" [ngStyle]="{'margin': '5px'}">
  {{ name.substring(0, 5) }}
</div>
